body {
    background-color: rgb(167, 167, 167);
}




.images {
    display: flex;
}

.images img {
    display: block;
    width: 80rem;
    margin: 4rem;
}

.images img.parallel {
    width: 30rem;
    margin: 2rem;
    border: 3rem solid white;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}